<div class="profile profile-summary profile--{{ slug }}{% if highscorers contains slug %} winner{% endif %}">
    <a href="{{ site.baseurl }}/profiles/{{ slug }}/">
        <span class="profile-summary__icon">
            {{ member.initials }}
        </span>

        <span class="profile-summary__score">
            <span class="score">
            {% capture slug %}{% include slug-from-member.lqd %}{% endcapture %}
            {% include calculate-score-for-member.lqd slug=slug %}
            {{ score }}
            </span>
        </span>

        <span class="profile-summary__name">{{ member.fullname }}</span>
    </a>
</div>
