---
---
/********( Index )*************************************************************/
/*
    0. CSS Introduction
    1. Profile Card
        1.1. Profile Icon
        1.1.1 Winners
        1.2. Profile Name
        1.3. High Score
        1.4. Hover States
    2. Profile -- Large
    3. Profile per Person
*/
/********( Introduction )******************************************************/
/*
    This file contains all of the style rules for a Summary Profile Card. This 
    card consists of a name and an optional image. An example of such a card 
    would be:
    
        <div class="profile-summary">
            <a href="profile.html">
                <span class="profile-summary__icon">I.N.</span>
                <span class="profile-summary__name">Initials Name</span>
            </a>
        </div>
        
    If an image is available, the " has-image" class should be set on the 
    "profile-summary__icon" element.
    
    It is the responsibility of the programmer/site-creator to provide a 
    background color or image for each card.

*/
/*=======( Profile Card )=====================================================*/
    .profile-summary {
        position: relative;
        display: inline-block;
        height: 12em;
        margin: 1em;
        border-bottom: 0.1em solid transparent;
        text-align: center;
        transform-style: preserve-3d;
        transition: border 0.85s, transform 0.85s;
    }
    
    .profile-summary a {
        text-decoration: inherit;
        color: inherit;
    }

/*-------( Profile Icon  )----------------------------------------------------*/
    .profile-summary__icon {
        position: absolute;
        top: 0;
    }

    .profile-summary__score,
    .profile-summary__icon {
        display: block;
        height: 4em;
        width: 4em;
        margin: 0 auto;
        border: 0.15em solid transparent;
        border-radius: 100%;
        font-size: 2.5em;
        text-align: center;
        line-height: 4em;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(1255, 255, 255);
    }

    .profile-summary__icon.has-image {
        background-color: transparent;
        color: rgba(1255, 255, 255, 0);
    }


/* - - - ( Winners ) - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    .profile-summary.winner .profile-summary__icon {
        box-shadow: 0 0 1em gold, 0 0 0.35em gold;
    }

/*-------( Profile Name  )----------------------------------------------------*/
    .profile-summary__name {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 90%;
        text-align: center;
        backface-visibility: hidden;
    }

/*-------( High Score )-------------------------------------------------------*/
    .profile-summary__score {
        margin: 0;
        background-image: none;
        transform: rotateY( 180deg );
        background-color: rgba(255,255,255,0.9);
    }

    .profile-summary__score .score {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 200%;
        font-weight: bold;
        color: black;
        text-shadow:
            white 0 0 1px,
            white 0 0 10px,
            white 0 0 0.1em,
            white 0 0 1em
        ;
        text-align: center;
    }

/*-------( Hover States )-------------------------------------------------------*/
    .profile-summary:hover {
        border-color: rgba(0, 0, 0, 0.2);
        transform: rotateY( -180deg );
    }

    .profile-summary:hover .profile-summary__icon {
        /*border-color: rgba(0, 0, 0, 0.2);*/
    }

    .profile-summary:hover .profile-summary__name {
        transform: rotateY( -180deg);
    }

/*=======( Profile -- Large )=================================================*/
    .profile--large {
        text-align: center;
    }

    .profile--large .profile {
        display: block;
        margin: 1em auto;
        width: 100%;
    }

    .profile--large .profile .profile-summary__name {
        font-size: 250%
    }
/*=======( Profile per Person )===============================================*/

{% for department in site.data.members.departments %}
    {% assign members = department.members | sort: 'name' %}
    {% for member in members %}
    {% capture slug %}{% include slug-from-member.lqd %}{% endcapture %}
    .profile--{{ slug }} .profile-summary__icon {
        background-color:{% include color-from-initials.lqd initials=member.initials %};
        {% for static_file in site.static_files %}
            {% assign filePath = '/img/avatars/svg/' | append: member.name | append: '.svg' | downcase %}
            {% if static_file.path == filePath %}
        background-image: url({{ filePath | prepend: site.baseurl}});
        background-color: transparent;
        color: rgba(1255, 255, 255, 0);
                {% break %}
            {% endif %}
        {% endfor %}
    }
    {% endfor %}
{% endfor %}
    
/*EOF*/
