<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Achievements -- Working at DealerDirect</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/base-theme.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/modules/profile-summary.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/modules/achievements.css" />
</head>
<body>
    {{ content }}
</body>
</html>
