---
layout: profile-list
---

{% include load-member-for-profile.lqd %}
{% include list-all-badges.lqd %}

<section class="profile--large">
    {% include profile.html %}
{%comment%}
@TODO: Add (hidden) form/text that displays line of code that can be used to embed
   the image that is hovered/clicked on in other sites, like BitBucket (markdown)
{%endcomment%}

    {{ content }}

    <div class="achievements">
        <ul>
        {% for badgeName in badges %}
            {% assign score = page.achievements[badgeName] %}
            <li {% if score != 0 %}class="scored"{% endif %}>
                <img src="{{ site.baseurl }}/img/badges/svg/badge_{{ badgeName }}.svg" />
                {% if score != 0 %}
                <span class="score">{{ score }}</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
