---
layout: default
---

{% for department in site.data.members.departments %}
    {% for currentMember in department.members %}
        {% if currentMember.fullname == page.member %}
            {% assign member = currentMember %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}

<section class="profile--large">
    {% include profile.html %}
{%comment%}
@TODO: Add (hidden) form/text that displays line of code that can be used to embed
   the image that is hovered/clicked on in other sites, like BitBucket (markdown)
{%endcomment%}

    {{ content }}

    <div class="achievements">
        <ul>
        {% for static_file in site.static_files %}
            {% assign path = static_file.path | split: "/" %}
            {% if path[2] == "badges" %}
                {% assign filename = path[4] | replace: '.svg', ''  %}
                {% assign badge = filename | split: '_' %}
                {% assign badgeName = badge[1] %}
                {% assign score = page.achievements[badgeName] %}
                {% unless site.data.ignoreBadges contains badgeName %}
                    <li {% if score != 0 %}class="scored"{% endif %}>
                        <img src="{{ static_file.path }}" />
                        {% if score != 0 %}
                        <span class="score">{{ score }}</span>
                        {% endif %}
                    </li>
                {% endunless %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</section>
